@import "./commons";
@import "./glass";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin feedback-drop {
  height: 60vh;
  backdrop-filter: blur(0);
  border-radius: 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #2c2c2e;
}
@mixin feedback-bottom {
  flex: 0 1 40vh;
  width: 90%;
  background: linear-gradient(to left bottom, #1c1c1e91, #1c1c1e94);
  backdrop-filter: blur(2rem);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
  border-radius: 1rem;
  display: grid;
  place-content: center;
}
@mixin h2 {
  font-size: 4.5vh;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
@mixin fonts-bottom {
  h1 {
    font-size: 3.5vh;
    padding: 5vh 2vw 1vh;
    text-align: center;
    line-height: 6vh;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    @include media("<=tablet") {
      padding: 1vh 3vw 1vh;
      font-size: 2.5vh;
      line-height: 4vh;
      font-weight: 400;
      text-align: left;
      text-align: center;
    }
  }
  h2 {
    font-size: 2.5vh;
    text-align: center;
    margin: auto;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #767680;
    @include media("<=tablet") {
      font-size: 2.4vh;
    }
  }
}
.glass {
  height: 370vh;
  @include media("<=tablet") {
    height: 370vh;
  }
}
/*hero section */
.land {
  width: 95%;
  margin: auto;
  height: 90vh;
  display: flex;
  margin-bottom: 25vh;
}
.land-left {
  flex: 1 1 50vw;
  margin-left: 2vw;
  h1 {
    margin-top: 2vh;
    font-size: 9vh;
    font-weight: 500;
    line-height: 11vh;
    font-family: "Poppins", sans-serif;
    margin-bottom: 3vh;
  }

  h4 {
    font-size: 3.5vh;
    line-height: 6vh;
    font-weight: 400;
    margin-bottom: 5vh;
  }
}

#blue {
  color: #3fb779; /*correct blue #357bf2 is this */
  font-weight: 600;
}
.buttons-hero {
  display: flex;

  .reviewsbtn {
    img {
      height: 7vh;
    }
  }
  .coursesbtn {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    margin-left: 1.5vw;
    font-weight: 500;
    color: white;
    background: #1c1c1e;
    text-decoration: none;
    text-align: center;
    padding: 1.2rem 5rem 1.2rem 2rem;
    border-radius: 0.5rem;
    border: none;
    position: relative;
    &:hover {
      padding: 1.1rem 4.9rem 1.1rem 1.9rem;
      color: #767680;
    }
    img {
      position: absolute;
      top: 0.1rem;
      height: 7vh;
    }
  }
}

.land-right {
  flex: 1 1 40vw;
  display: flex;
  justify-content: flex-end;
  video {
    height: 90vh;
    width: 100%;
    margin-bottom: 10vh;
    margin-right: 4vw;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.664);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.424);
  }
}

/* end of hero section */
/*second section */
.second-head {
  font-size: 5.4vh;
  margin-bottom: 5vh;
  line-height: 4vh;
  font-weight: 400;
  text-align: center;
  @include media("<=tablet") {
    margin-bottom: 0;
    font-size: 2.6vh;
    line-height: 4vh;
    font-weight: 400;
    text-align: center;
  }
}
.second {
  height: 80vh;
  width: 95%;
  margin: 0vh auto 0vh auto;
  display: flex;
  position: relative;

  &-inner {
    position: absolute;
    margin: 0vh 10vh;
    width: 90%;
    height: 80vh;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.feedback1 {
  flex: 0 0 20vw;
  @include feedback-drop;
  &:hover {
    transform: translateY(-0.5rem);
  }
  #{&}-top {
    flex: 0 1 12vh;
    width: 100%;

    img {
      position: absolute;
      top: -12vh;
      left: -5%;
      height: 38vh;
      z-index: 5;
      transition: 3s ease;
      transition-property: transform;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 5;
    }
  }
  #{&}-bottom {
    @include feedback-bottom();
    @include fonts-bottom();
  }
}
.feedback2 {
  flex: 0 0 20vw;
  @include feedback-drop;
  &:hover {
    transform: translateY(-0.5rem);
  }

  #{&}-top {
    flex: 0 1 12vh;
    width: 100%;

    img {
      position: absolute;
      top: -10vh;
      left: -4%;
      height: 32vh;
      z-index: 5;
      transition: 3s ease;
      transition-property: transform;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 5;
    }
  }
  #{&}-bottom {
    @include feedback-bottom();
    @include fonts-bottom();
  }
}
.feedback3 {
  flex: 0 0 20vw;
  @include feedback-drop;
  &:hover {
    transform: translateY(-0.5rem);
  }

  #{&}-top {
    flex: 0 1 12vh;
    width: 100%;

    img {
      position: absolute;
      top: -10vh;
      left: -5%;
      height: 32vh;
      z-index: 5;
      transition: 3s ease;
      transition-property: transform;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 5;
    }
  }
  #{&}-bottom {
    @include feedback-bottom();
    @include fonts-bottom();
  }
}
/* end of section two */
/* third section */
.third-head {
  margin-top: 8vh;
  font-size: 5.4vh;
  line-height: 4vh;
  font-weight: 400;
  text-align: center;
  @include media("<=tablet") {
    padding: 0vh 3vw 1vh;
    font-size: 2.6vh;
    line-height: 4vh;
    font-weight: 400;
    text-align: center;
    margin-top: 4vh;
  }
}

.third {
  height: 100vh;
  width: 95%;
  margin: 1vh auto 0vh auto;
  display: flex;
  align-items: center;
  &-container {
    width: 90%;
    height: 90vh;
    margin: auto;
    background: #1c1c1e;
    border: 4px solid #ffffff;
    border-radius: 3rem;
    backdrop-filter: blur(2rem);
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
    &-1 {
      flex: 0 1 20%;
      height: 100%;
      display: flex;
      align-items: center;
      color: #767680;
    }
    &-2 {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      background: #2c2c2e;
      backdrop-filter: blur(1rem);
      box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.418);
      height: 100%;
      flex: 0 1 60%;
    }
    &-3 {
   
      padding: 2rem;
      height: 100%;
      flex: 0 1 20%;
    }
  }
}
.tabs {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.tab {
  width: 90%;
  flex: 0 1 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  h3 {
    font-size: 2.4vh;
    font-weight: 400;
  }
}
.tab.active {
  background: linear-gradient(to left bottom, #2c2c2e91, #2c2c2e94);
  border-radius: 1.2rem;
  backdrop-filter: blur(2rem);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
  border-bottom: 1px solid #545458;
  color: white;
}
.tab:hover {
  background: linear-gradient(to left bottom, #2c2c2e91, #2c2c2e94);
  border-radius: 1.2rem;
  backdrop-filter: blur(2rem);
  color: white;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
  background-color: rgba(255, 255, 255, 0.459);
}
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: flex;
  flex-direction: column;
}
.inner {
  height: 100%;
  width: 100%;
  align-items: center;
  &-top {
    width: 90%;
    padding: 1.5rem 2rem;
    flex: 0 1 20vh;
    border-bottom: 1px solid;
    /*text in the tab middile part the h1 the h3 */
    h1 {
      background: linear-gradient(to right bottom, #fafaface, #3fb779fb);
      text-shadow: none;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Poppins", sans-serif;
      font-size: 4.2vh;
      font-weight: 600;
      padding-bottom: 1vh;
    }
    h3 {
      font-size: 2.5vh;
      font-weight: 400;
      padding-bottom: 1vh;
    }
  }
  &-bottom {
    flex: 0 1 80vh;
    width: 100%;
    padding: 0rem 2rem;
    margin-top: 2vh;
    ul {
      margin-top: 2vh;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      li {
        border: 1px solid;
        flex: 0 1 30%;
        margin: 1.5vh 0vh;
        height: 100%;
        padding: 1.2rem 1rem;
        border-radius: 1rem;
        list-style: none;
        cursor: pointer;

        h5 {
          width: 90%;
          font-size: 1.8vh;
          font-weight: 400;
          border-bottom: 1.5px solid #545458;
        }
      }
    }
  }
}
/*the boxes inside the panel */
.t-inside {
  display: flex;
  flex-direction: column;
  height: 100%;
  &-top {
    flex: 0 1 90%;

    h2 {
      font-size: 2.8vh;
      font-weight: 600;
      border-bottom: 1px solid #545458;
    }
    h4 {
      margin-top: 1vh;
      font-size: 2.2vh;
      font-weight: 500;
    }
  }
  &-bottom {
    flex: 0 1 10%;

    h5 {
      width: 90%;
      font-size: 1.8vh;
      font-weight: 400;
      border-bottom: 1.5px solid #545458;
    }
  }
}
.t.active {
  background: linear-gradient(to left bottom, #fafafa91, #ffd52efb);
  color: #040405;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
}
.t:hover {
  background: linear-gradient(to right bottom, #fafafa91, #3fb779fb);
  color: #040405;
  border-radius: 1.5rem;
 
}
/*this is for the inner tabs put this somewhere else */
/*the final right side of the panel */
[data-t-content] {
  display: none;
}
.active[data-t-content] {
  display: flex;
  flex-direction: column;
  
}
.description {
  flex: 0 1 65vh;  color: #ffffff;
  border-radius: 1.5rem;
  margin-bottom: 1vh;
  &-inner {
    padding: 1.5rem;
    h2 {
      margin-bottom: 2vh;
      text-align: center;
      font-size: 2.5vh;
      font-weight: 600;
      padding-bottom: 1vh;
      border-bottom: 1px solid #545458;
    }
    h3 {
      font-size: 2.4vh;
      font-weight: 500;
    }
    h4 {
      margin-top: 1vh;
      font-size: 2vh;
      font-weight: 600;
    }
  }
}
.date {
  flex: 0 1 18vh;
  background: linear-gradient(to right bottom, #fafafa91, #71a5edfb);
  border-radius: 0.5rem;
}

/*up to here style the above in the end */
/*set of icons in the back ground */
.icon-1 {
  position: absolute;
  top: 130vh;
  left: 5vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 3vh;
  }
}
.icon-2 {
  position: absolute;
  top: 176vh;
  right: 1vw;
  height: 15vh;
  z-index: 1;
  @include media("<=tablet") {
    height: 3vh;
  }
}

.icon-3 {
  position: absolute;
  top: 130vh;
  right: 5vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 3vh;
  }
}
.icon-4 {
  position: absolute;
  top: 210vh;
  left: 5vw;
  height: 15vh;
  z-index: 4;
  border-radius: 2px solid white;
  @include media("<=tablet") {
    height: 3vh;
  }
}
.icon-5 {
  position: absolute;
  top: 140vh;
  left: 28vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 3vh;
  }
}
.icon-6 {
  position: absolute;
  top: 176vh;
  left: 1vw;
  height: 15vh;
  z-index: 1;
  @include media("<=tablet") {
    height: 3vh;
  }
}
.icon-7 {
  position: absolute;
  top: 210vh;
  right: 5vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 3vh;
  }
}
.icon-8 {
  position: absolute;
  top: 140vh;
  right: 30vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 3vh;
  }
}
.second-mobile {
  display: none;
}
/*footer*/
.footer {
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.116);
  box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.164);
  background: linear-gradient(to right bottom, #ffffff07, #00000007);
  #{&}__inner {
    height: 20vh;
    margin: auto;
    width: 90%;
    @include flexCenter;
    text-align: center;
  }
  #{&}__l1 {
    flex: 0 1 30vw;
    h3 {
      font-size: 2.6vh;
      font-weight: 400;
    }
  }
  #{&}__l2 {
    flex: 0 1 30vw;
    h3 {
      font-size: 2.6vh;
      font-weight: 400;
    }
  }
  #{&}__l3 {
    flex: 0 1 30vw;

    h3 {
      font-size: 2.6vh;
      font-weight: 400;
    }
  }
}
/*Responsive for mobile */
@include media("<=tablet") {
  .land {
    display: block;
    width: 90%;
    margin: auto;
  }
  .land-left {
    margin: 0;
    h1 {
      margin-top: -1vh;
      margin-bottom: 1vh;
      font-size: 4.1vh;
      line-height: 6.2vh;
      text-align: center;
    }
    h4 {
      font-size: 2vh;
      line-height: 3.8vh;
      text-align: center;
      margin-bottom: 1vh;
    }
  }
  .buttons-hero {
    display: block;
    display: grid;
    place-content: center;
    .reviewsbtn {
      img {
        height: 5vh;
        margin-bottom: 1vh;
      }
    }
    .coursesbtn {
      display: none;
    }
  }
  .land-right {
    display: block;
    video {
      height: 40vh;
      border-radius: 2rem;
    }
  }
  .second {
    display: none;
  }
  .second-mobile {
    height: 120vh;
    display: block;
    width: 90%;
    margin: auto;

    &-inner {
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;

      &-1 {
        margin-top: 8vh;
        flex: 0 0 30vh;
        margin-bottom: 8vh;
        background: #1c1c1e;
        backdrop-filter: blur(8rem);
        box-shadow: 1px 1px 2px 1px #2c2c2e;
        border-radius: 1rem;
        position: relative;
        z-index: 2;
        img {
          position: absolute;
          top: 12%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 22vh;
          z-index: 3;
        }
        &-1 {
          width: 90%;
          height: 18vh;
          background: #2c2c2e;
          backdrop-filter: blur(10rem);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
          border-radius: 1rem;
          margin: 10vh auto 0vh auto;
          @include fonts-bottom;
        }
      }
      &-2 {
        flex: 0 0 30vh;
        margin-bottom: 8vh;
        background: #1c1c1e;
        backdrop-filter: blur(8rem);
        box-shadow: 1px 1px 2px 1px #2c2c2e;
        border-radius: 1rem;
        position: relative;
        z-index: 2;
        img {
          position: absolute;
          top: 12%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 20vh;
          z-index: 3;
        }
        &-2 {
          width: 90%;
          height: 18vh;

          background: #2c2c2e;
          backdrop-filter: blur(10rem);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
          border-radius: 1rem;
          margin: 10vh auto 0vh auto;
          @include fonts-bottom;
        }
      }
      &-3 {
        flex: 0 0 30vh;
        margin-bottom: 8vh;
        background: #1c1c1e;
        backdrop-filter: blur(8rem);
        box-shadow: 1px 1px 2px 1px #2c2c2e;
        border-radius: 1rem;
        position: relative;
        z-index: 2;
        img {
          position: absolute;
          top: 12%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 20vh;
          z-index: 3;
        }
        &-3 {
          width: 90%;
          height: 18vh;
          background: #2c2c2e;
          backdrop-filter: blur(10rem);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
          border-radius: 1rem;
          margin: 10vh auto 0vh auto;
          @include fonts-bottom;
        }
      }
    }
  }
  .third {
    height: 90vh;
    width: 95%;
    margin: 2vh auto 2vh auto;
    display: flex;
    align-items: center;
    &-container {
      width: 90%;
      height: 90vh;
      margin: auto;
      background: #2c2c2e;
      border-radius: 3rem;
      backdrop-filter: blur(2rem);
      -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
    }
  }
}

/*iphone 5s responsive */
@include media("<=phone") {
  .land {
    display: block;
    width: 90%;
    margin: 10vh auto 0vh auto;
  }
}
