@import "./commons";
@import "./glass";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin feedback-drop {
  height: 55vh;
  backdrop-filter: blur(0);
  border-radius: 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #2c2c2e;
}
@mixin feedback-bottom {
  flex: 0 1 40vh;
  width: 90%;
  background: linear-gradient(to left bottom, #1c1c1e91, #1c1c1e94);
  backdrop-filter: blur(2rem);
  border-radius: 1rem;
  display: grid;
  place-content: center;
}
@mixin h2 {
  font-size: 4.5vh;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
@mixin fonts-bottom {
  h1 {
    font-size: 3.5vh;
    padding: 5vh 2vw 1vh;
    text-align: center;
    line-height: 6vh;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    @include media("<=tablet") {
      padding: 1vh 3vw 1vh;
      font-size: 2.5vh;
      line-height: 4vh;
      font-weight: 400;
      text-align: left;
      text-align: center;
    }
  }
  h2 {
    font-size: 2.5vh;
    text-align: center;
    margin: auto;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #767680;
    @include media("<=tablet") {
      font-size: 2.4vh;
    }
  }
  h3 {
    font-size: 2vh;
    text-align: center;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #767680;
    @include media("<=tablet") {
      font-size: 1.5vh;
    }
  }
}
.glass {
  height: 610vh;
  @include media("<=tablet") {
    height: 775vh;
  }
  @include media("<=phone") {
    height: 785vh;
  }
}

/*hero section */
.land {
  width: 95%;
  margin: auto;
  height: 90vh;
  display: flex;
  margin-bottom: 25vh;
}
.land-left {
  flex: 1 1 50vw;
  margin-left: 2vw;
  h1 {
    margin-top: 1vh;
    font-size: 9vh;
    font-weight: 500;
    line-height: 11vh;
    font-family: "Poppins", sans-serif;
    margin-bottom: 3vh;
  }

  h4 {
    font-size: 3.5vh;
    line-height: 6vh;
    font-weight: 400;
    margin-bottom: 5vh;
  }
}

#blue {
  background: linear-gradient(to right top, #fafafa60, #3fb779);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.buttons-hero {
  display: flex;
  .reviewsbtn {
    img {
      height: 7vh;
    }
  }
  .coursesbtn {
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.2vh;
    margin-left: 1.5vw;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1.5vh 2vh;
    border-bottom: 1px solid #545458;

    display: inline;
    img {
      height: 3rem;
    }
    &:hover {
      background-color: white;
      border-radius: 1rem;
      color: #040405;
      border: none;
    }
  }
}

.land-right {
  flex: 1 1 40vw;
  display: flex;
  justify-content: flex-end;
  video {
    height: 90vh;
    width: 100%;
    margin-bottom: 10vh;
    margin-right: 4vw;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

/* end of hero section */
/*second section */
.second-head {
  font-size: 4.2vh;
  margin-bottom: 6vh;
  line-height: 4vh;
  font-weight: 400;
  text-align: center;
  @include media("<=tablet") {
    margin-bottom: 0;
    font-size: 2.6vh;
    line-height: 4vh;
    font-weight: 400;
    text-align: center;
  }
}
.second {
  height: 70vh;
  width: 95%;
  margin: 0vh auto 0vh auto;
  display: flex;
  position: relative;

  &-inner {
    position: absolute;
    margin: 0vh 10vh;
    width: 90%;
    height: 80vh;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.second-btn {
  margin-top: 10vh;
  margin-bottom: 15vh;
  display: grid;
  place-content: center;

  a {
    font-size: 2.4vh;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background: linear-gradient(to right top, #3fb779e8, #3fb7798f);
    border-radius: 1.2rem;
    transition: 0.2s ease;
    &:hover {
      transform: translateY(-1rem);
      background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.945),
        rgba(255, 255, 255, 0.822)
      );
      color: #040405;
    }
  }
  @include media("<=tablet") {
    display: none;
  }
}
.feedback1 {
  flex: 0 0 20vw;
  @include feedback-drop;
  &:hover {
    transform: translateY(-0.5rem);
  }
  #{&}-top {
    flex: 0 1 12vh;
    width: 100%;

    img {
      position: absolute;
      top: -12vh;
      left: -2%;
      height: 35vh;
      z-index: 5;
      transition: 3s ease;
      transition-property: transform;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 5;
    }
  }
  #{&}-bottom {
    @include feedback-bottom();
    @include fonts-bottom();
  }
}
.feedback2 {
  flex: 0 0 20vw;
  @include feedback-drop;
  &:hover {
    transform: translateY(-0.5rem);
  }

  #{&}-top {
    flex: 0 1 12vh;
    width: 100%;

    img {
      position: absolute;
      top: -10vh;
      left: -2%;
      height: 30vh;
      z-index: 5;
      transition: 3s ease;
      transition-property: transform;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 5;
    }
  }
  #{&}-bottom {
    @include feedback-bottom();
    @include fonts-bottom();
  }
}
.feedback3 {
  flex: 0 0 20vw;
  @include feedback-drop;
  &:hover {
    transform: translateY(-0.5rem);
  }

  #{&}-top {
    flex: 0 1 12vh;
    width: 100%;

    img {
      position: absolute;
      top: -10vh;
      left: -2%;
      height: 30vh;
      z-index: 5;
      transition: 3s ease;
      transition-property: transform;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 5;
    }
  }
  #{&}-bottom {
    @include feedback-bottom();
    @include fonts-bottom();
  }
}
/* end of section two */
/* third section */
.third-head {
  margin-top: 20vh;
  font-size: 4.2vh;
  line-height: 4vh;
  font-weight: 400;
  text-align: center;
}

.third {
  height: 100vh;
  width: 95%;
  margin: 1vh auto 0vh auto;
  display: flex;
  align-items: center;
  &-container {
    width: 90%;
    height: 90vh;
    margin: auto;
    background: #1c1c1e;
    border: 1px solid #2c2c2e;
    border-radius: 3rem;
    backdrop-filter: blur(2rem);
    display: flex;
    align-items: center;

    &-1 {
      flex: 0 1 20vw;
      height: 90vh;
      display: flex;
      align-items: center;
      color: #767680;
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
      box-shadow: 10px -1px 6px 4px rgba(0, 0, 0, 0.33);
    }
    &-2 {
      backdrop-filter: blur(1rem);
      height: 90vh;
      flex: 0 1 60vw;
    }
    &-3 {
      height: 90vh;
      flex: 0 1 20vw;
      box-shadow: -16px 4px 11px -1px rgba(0, 0, 0, 0.26);
    }
  }
}
.tabs {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.tab {
  width: 90%;
  flex: 0 1 10%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  justify-content: left;
  cursor: pointer;
  h3 {
    text-align: left;
    margin-left: 1rem;
    font-size: 2.4vh;
    font-weight: 400;
  }
}
.tab.active {
  background: linear-gradient(to left bottom, #2c2c2e, #2c2c2e94);
  border-radius: 1.2rem;
  backdrop-filter: blur(2rem);
  color: white;
}
.tab:hover {
  background: linear-gradient(to left bottom, #2c2c2e91, #2c2c2e94);
  border-radius: 1.2rem;
  backdrop-filter: blur(2rem);
  color: white;

  background-color: rgba(255, 255, 255, 0.459);
}
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: flex;
  flex-direction: column;
}
.inner {
  height: 90vh;
  align-items: center;
  &-top {
    width: 90%;
    padding: 1.5rem 2rem;
    flex: 0 1 20vh;
    border-bottom: 1px solid;
    /*text in the tab middile part the h1 the h3 */
    h1 {
      background: linear-gradient(to right bottom, #fafaface, #3fb779fb);
      text-shadow: none;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Poppins", sans-serif;
      font-size: 4vh;
      font-weight: 600;
      padding-bottom: 1vh;
    }
    h3 {
      font-size: 2.5vh;
      font-weight: 400;
      padding-bottom: 1vh;
    }
  }
  &-bottom {
    flex: 0 1 80vh;
    padding: 0rem 2rem;
    margin-top: 1.5vh;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      li {
        background: #2c2c2e;
        flex: 0 1 30%;
        margin-top: 1.5vh;
        margin-bottom: 1vh;
        height: 30vh;
        padding: 1.2rem 1rem;
        border-radius: 1rem;
        list-style: none;
        cursor: pointer;

        h5 {
          width: 90%;
          font-size: 1.8vh;
          font-weight: 400;
          border-bottom: 1.5px solid #545458;
        }
      }
    }
  }
}
/*the boxes inside the panel */
.to {
  display: none;
}
.t-inside {
  display: flex;
  flex-direction: column;
  height: 100%;
  &-top {
    flex: 0 1 90%;

    h2 {
      font-size: 2.8vh;
      font-weight: 600;
      border-bottom: 1px solid #545458;
    }
    h4 {
      margin-top: 1vh;
      font-size: 2.2vh;
      font-weight: 500;
    }
  }
  &-bottom {
    flex: 0 1 10%;

    h5 {
      width: 90%;
      font-size: 1.8vh;
      font-weight: 400;
      border-bottom: 1.5px solid #545458;
    }
  }
}

.t.active {
  background: linear-gradient(to right bottom, #fafafa91, #71a5edfb);
  box-shadow: -2px -2px 7px -3px rgba(0, 0, 0, 0.33);
  border: none;
  color: #040405;
}
.t:hover {
  background: linear-gradient(to right top, #fafafa91, #71a5edfb);
  color: #040405;
}
/*this is for the inner tabs put this somewhere else */
/*the final right side of the panel */
[data-t-content] {
  display: none;
}
.active[data-t-content] {
  display: flex;
  flex-direction: column;
}

.right-panel {
  flex: 0 1 34vh;
  padding: 1rem 1rem;
  &-inner {
    background: #2c2c2e;
    border-top-right-radius: 3rem;
    padding: 1rem;
    h2 {
      text-align: left;
      font-size: 2.5vh;
      font-weight: 600;
      padding-bottom: 1vh;
      border-bottom: 1px solid #545458;
      margin-bottom: 1vh;
    }
    h3 {
      font-size: 2.4vh;
      font-weight: 500;
    }
  }
}
.right-panel-1 {
  flex: 0 1 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 1rem;

  &-box1 {
    flex: 0 1 20vw;
    margin-right: 0.5vw;
    height: 12vh;
    background: #2c2c2e;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    &-top {
      flex: 0 1 8vh;
      display: grid;
      place-content: center;
      img {
        height: 3rem;
      }
    }
    &-bottom {
      flex: 0 1 4vh;
      border-radius: 1rem;
      h4 {
        text-align: center;
        font-size: 2vh;
        font-weight: 300;
      }
    }
  }
}
.right-button-1 {
  flex: 0 1 5vh;
  background-color: rgb(151, 19, 19);
  width: 90%;
  margin: 2vh auto 0vh;
  a {
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.4vh;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    padding: 1.5vh 2vh;
  }
}
.right-button-2 {
  flex: 0 1 5vh;
  background-color: rgb(151, 19, 19);
  width: 90%;
  margin: 1vh auto 0vh;
  a {
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.4vh;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    padding: 1.5vh 2vh;
  }
}
.description {
  background: #2c2c2e;
  flex: 0 1 65vh;
  color: #ffffff;
  border-radius: 1.5rem;
  margin-bottom: 1vh;
  &-inner {
    padding: 1.5rem;
    h2 {
      margin-bottom: 2vh;
      text-align: center;
      font-size: 2.5vh;
      font-weight: 600;
      padding-bottom: 1vh;
      border-bottom: 1px solid #545458;
    }
    h3 {
      font-size: 2.4vh;
      font-weight: 500;
    }
    h4 {
      margin-top: 1vh;
      font-size: 2vh;
      font-weight: 600;
    }
  }
}
.date {
  flex: 0 1 18vh;
  background: linear-gradient(to right bottom, #fafafa91, #71a5edfb);
  border-radius: 0.5rem;
}

/*up to here style the above in the end */
/*set of icons in the back ground */
.icon-1 {
  position: absolute;
  top: 130vh;
  left: 5vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 5vh;
  }
}
.icon-2 {
  position: absolute;
  top: 176vh;
  right: 1vw;
  height: 15vh;
  z-index: 1;
  @include media("<=tablet") {
    height: 5vh;
  }
}

.icon-3 {
  position: absolute;
  top: 130vh;
  right: 5vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 5vh;
  }
}
.icon-4 {
  position: absolute;
  top: 210vh;
  left: 5vw;
  height: 15vh;
  z-index: 4;
  border-radius: 2px solid white;
  @include media("<=tablet") {
    height: 5vh;
  }
}
.icon-5 {
  position: absolute;
  top: 140vh;
  left: 28vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 5vh;
  }
}
.icon-6 {
  position: absolute;
  top: 176vh;
  left: 1vw;
  height: 15vh;
  z-index: 1;
  @include media("<=tablet") {
    height: 5vh;
  }
}
.icon-7 {
  position: absolute;
  top: 210vh;
  right: 5vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 5vh;
  }
}
.icon-8 {
  position: absolute;
  top: 140vh;
  right: 30vw;
  height: 15vh;
  z-index: 4;
  @include media("<=tablet") {
    height: 5vh;
  }
}
.second-mobile {
  display: none;
}

/*feed back section */
.feedback-list {
  height: 90vh;
  width: 98%;
  margin: 12vh auto 18vh;
  display: flex;
  overflow-x: scroll;
  position: relative;
  &::-webkit-scrollbar {
    width: 1rem;
    height: 1.3rem;
  }
  &::-webkit-scrollbar-thumb {
    background: #2c2c2e;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: #040405;
  }
  @include media("<=tablet") {
    height: 70vh;
    margin: 40vh auto 10vh;
  }
  @include media("<=phone") {
    height: 90vh;
    margin: 70vh auto 10vh;
  }
  h1 {
    width: 90%;
    margin-left: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 10%;
    font-size: 4.2vh;
    @include media("<=tablet") {
      top: 12%;
      font-size: 2.1rem;
    }
    @include media("<=phone") {
      top: 5%;
      font-size: 2rem;
    }
  }
  &-card {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 30%;
    height: 55vh;
    min-width: 20vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 1px solid #2c2c2e;
    border-radius: 2rem;
    @include media("<=tablet") {
      min-width: 80vw;
      height: 45vh;
      margin-right: 10vw;
    }
    @include media("<=phone") {
      height: 30rem;
    }
    &:hover {
      transform: translateY(1rem);
      cursor: pointer;
      @include media("<=tablet") {
        transform: translateY(0rem);
      }
    }
    &-top{
      height: 18vh;
      position: relative;
      display: block;
      
      img{
        position: absolute;
        height: 25vh;
        bottom: 10%;
        left: 68%;
        @include media("<=tablet") {
          height: 20vh;
        }
      }
      h2{
        margin: 0;
       padding: 2rem 6rem 0rem 2rem;
        font-weight: 400;
        font-size: 3vh;
        @include media("<=tablet") {
         font-size: 2.4vh;
        }
        
      }
      h3{
        margin: 0;
       padding: 0rem 6rem 2rem 2rem;
        font-weight: 300;
        font-size: 2.5vh;
        line-height: 4vh;
        border-bottom: 1px solid #2c2c2e;
        @include media("<=tablet") {
          font-size: 2vh;
          line-height: 3vh;
         }
      }
      
    }
    &-down{
      height:34vh;
      border-radius: 2rem;
      width: 90%;
      margin: 2vh auto;
      background-color: #1c1c1e;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media("<=tablet") {
        height: 25vh;
      }
      
      h2{
       
      text-align: center;
        font-size: 2.8vh;  
      padding-left: 2vw;
      padding-right: 2vw;
        font-weight: 400;
        @include media("<=tablet") {
          padding: 2rem;
          font-size: 2.1vh;
        }
      }
    }
}
}
/*last section*/
.last {
  height: 100vh;
  width: 90vw;
  padding: 2rem 0rem;
  margin: auto;
  @include media("<=tablet") {
    height: 130vh;

    margin: auto;
  }
  &-in {
    height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include media("<=tablet") {
      height: 60vh;
      display: block;
    }
    &-teach {
      height: 80vh;
      flex: 0 1 28vw;
      border-radius: 2rem;
      border: 1px solid #2c2c2e;
      transition: 0.2s ease-in;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media("<=tablet") {
        height: 60vh;
        display: block;
        margin-bottom: 6vh;
      }
      &:hover {
        transform: translateY(1rem);
        background-color: #1c1c1e;
        cursor: pointer;
      }
      &-inner {
        height: 70vh;
        flex: 0 1 30vw;
        @include media("<=tablet") {
          display: block;
          height: 40vh;
        }
        &-top {
          height: 50vh;
          display: grid;
          place-content: center;
          @include media("<=tablet") {
            height: 38vh;
          }
          img {
            height: 40vh;
            object-fit: cover;
            @include media("<=tablet") {
              height: 25vh;
            }
          }
          h2 {
            font-family: "Poppins", sans-serif;
            font-size: 3vh;
            font-weight: 400;
            text-align: center;
            @include media("<=tablet") {
              font-size: 2rem;
            }
          }
        }
        &-bottom {
          height: 20vh;
          border-radius: 2rem;

          display: grid;
          h2 {
            font-family: "Poppins", sans-serif;
            font-size: 3vh;
            font-weight: 400;
            text-align: center;
            @include media("<=tablet") {
              font-size: 2rem;
            }
            @include media("<=phone") {
              font-size: 1.5rem;
            }
          }
          a {
            width: 90%;
            margin: auto;
            font-size: 2.5vh;
            font-weight: 500;
            color: white;
            text-decoration: none;
            text-align: center;
            padding: 1.5rem;
            background: linear-gradient(to right top, #3fb779e8, #3fb7798f);
            border-radius: 1.2rem;
            position: relative;
            &:hover {
              background: linear-gradient(
                to right bottom,
                rgba(255, 255, 255, 0.945),
                rgba(255, 255, 255, 0.822)
              );
              color: #040405;
            }
          }
        }
      }
    }
    &-links {
      height: 80vh;
      flex: 0 1 28vw;
      border-radius: 2rem;
      border: 1px solid #2c2c2e;
      transition: 0.2s ease-in;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media("<=tablet") {
        height: 60vh;
        display: block;
      }
      &:hover {
        transform: translateY(1rem);
        background-color: #1c1c1e;
        cursor: pointer;
      }
      &-inner {
        height: 70vh;
        flex: 0 1 30vw;
        @include media("<=tablet") {
          display: block;
          height: 40vh;
        }
        &-top {
          height: 50vh;
          display: grid;
          place-content: center;
          @include media("<=tablet") {
            height: 38vh;
          }
          h2 {
            font-family: "Poppins", sans-serif;
            font-size: 3vh;
            font-weight: 400;
            text-align: center;
            margin-bottom: 6vh;
            @include media("<=tablet") {
              margin-bottom: 1vh;
              font-size: 2rem;
            }
          }
          img {
            height: 35vh;
            object-fit: cover;
            @include media("<=tablet") {
              height: 25vh;
            }
          }
        }
        &-bottom {
          height: 20vh;
          border-radius: 2rem;
          display: grid;
          h2 {
            font-family: "Poppins", sans-serif;
            font-size: 3vh;
            font-weight: 400;
            text-align: center;
            @include media("<=tablet") {
              font-size: 2rem;
            }
            @include media("<=phone") {
              font-size: 1.5rem;
            }
          }
          a {
            width: 90%;
            margin: auto;
            font-size: 2.5vh;
            font-weight: 500;
            color: white;
            text-decoration: none;
            text-align: center;
            padding: 1.5rem;
            background: linear-gradient(to right top, #3fb779e8, #3fb7798f);
            border-radius: 1.2rem;
            position: relative;
            &:hover {
              background: linear-gradient(
                to right bottom,
                rgba(255, 255, 255, 0.945),
                rgba(255, 255, 255, 0.822)
              );
              color: #040405;
            }
          }
        }
      }
    }
  }
}
/*footer*/
.footer {
  width: 100%;
  margin: 10vh auto 0;
  background: linear-gradient(to right bottom, #ffffff07, #00000007);
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.75);
  #{&}__inner {
    height: 20vh;
    margin: auto;
    width: 90%;
    @include flexCenter;
    text-align: center;
  }
  #{&}__l1 {
    flex: 0 1 30vw;
    h3 {
      font-size: 2.6vh;
      font-weight: 400;
    }
  }
  #{&}__l2 {
    flex: 0 1 30vw;
    h3 {
      font-size: 2.6vh;
      font-weight: 400;
    }
  }
  #{&}__l3 {
    flex: 0 1 30vw;

    h3 {
      font-size: 2.6vh;
      font-weight: 400;
    }
  }
}
/*Responsive for mobile --------------------- */
@include media("<=tablet") {
  .land {
    display: block;
    width: 90%;
    margin: auto;
  }
  .land-left {
    margin: 0;
    h1 {
      margin-top: -1vh;
      margin-bottom: 1vh;
      font-size: 4.1vh;
      line-height: 6.2vh;
      text-align: center;
    }
    h4 {
      font-size: 2vh;
      line-height: 3.8vh;
      text-align: center;
      margin-bottom: 1vh;
    }
  }
  .buttons-hero {
    display: block;
    display: grid;
    place-content: center;
    .reviewsbtn {
      img {
        height: 5vh;
        margin-bottom: 1vh;
      }
    }
    .coursesbtn {
      display: none;
    }
  }
  .land-right {
    display: block;
    video {
      height: 40vh;
      border-radius: 2rem;
    }
  }
  .second {
    display: none;
  }
  .second-mobile {
    height: 130vh;
    display: block;
    width: 90%;
    margin: auto;

    &-inner {
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;

      &-1 {
        margin-top: 8vh;
        flex: 0 0 30vh;
        margin-bottom: 8vh;
        background: #1c1c1e;
        backdrop-filter: blur(8rem);
        border-radius: 1rem;
        position: relative;
        z-index: 2;
        img {
          position: absolute;
          top: 12%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 22vh;
          z-index: 3;
        }
        &-1 {
          width: 90%;
          height: 18vh;
          background: #2c2c2e;
          backdrop-filter: blur(10rem);

          border-radius: 1rem;
          margin: 10vh auto 0vh auto;
          @include fonts-bottom;
        }
      }
      &-2 {
        flex: 0 0 30vh;
        margin-bottom: 8vh;
        background: #1c1c1e;
        backdrop-filter: blur(8rem);
        border-radius: 1rem;
        position: relative;
        z-index: 2;
        img {
          position: absolute;
          top: 12%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 20vh;
          z-index: 3;
        }
        &-2 {
          width: 90%;
          height: 18vh;

          background: #2c2c2e;
          backdrop-filter: blur(10rem);
          border-radius: 1rem;
          margin: 10vh auto 0vh auto;
          @include fonts-bottom;
        }
      }
      &-3 {
        flex: 0 0 30vh;
        margin-bottom: 4vh;
        background: #1c1c1e;
        backdrop-filter: blur(8rem);
        border-radius: 1rem;
        position: relative;
        z-index: 2;
        img {
          position: absolute;
          top: 12%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 20vh;
          z-index: 3;
        }
        &-3 {
          width: 90%;
          height: 18vh;
          background: #2c2c2e;
          backdrop-filter: blur(10rem);
          border-radius: 1rem;
          margin: 10vh auto 0vh auto;
          @include fonts-bottom;
        }
      }
    }
    &-inner-btn {
      display: grid;
      place-content: center;
      a {
        font-size: 1.7rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
        padding: 1rem 4rem;
        background: linear-gradient(to right top, #3fb779e8, #3fb7798f);
        border-radius: 1.2rem;
      }
    }
  }
  /* end of section two */
  /* third section */
  .third-head {
    padding: 0vh 3vw 1vh;
    font-size: 2.6vh;
    line-height: 4vh;
    font-weight: 400;
    text-align: center;
    margin-top: 4vh;
  }
  .third {
    height: 210vh;
    width: 95%;
    margin: 2vh auto 2vh auto;
    display: block;
    &-container {
      display: block;
      width: 90%;
      height: 90vh;
      border-radius: 1rem;
      &-1 {
        display: block;
        padding-top: 5vh;
        border: none;
        height: 40vh;
        border-radius: 0;
        color: #767680;
        box-shadow: none;
        @include media("<=phone") {
          height: 60vh;
        }
      }
      &-2 {
        backdrop-filter: blur(1rem);
        background-color: #2c2c2e;
        height: 120vh;
      }
      &-3 {
        height: 40vh;
        box-shadow: -16px 4px 11px -1px rgba(0, 0, 0, 0.26);
      }
    }
  }

  .tab {
    width: 80%;
    align-items: center;
    padding: 1rem 0rem;
    justify-content: center;
    cursor: pointer;

    h3 {
      text-align: center;
      margin-left: 1rem;
      font-size: 2.4vh;
      font-weight: 400;
    }
  }
  .tab.active {
    background: linear-gradient(to left bottom, #2c2c2e, #2c2c2e94);
    border-radius: 1.2rem;
    backdrop-filter: blur(2rem);
    color: white;
  }
  .tab:hover {
    background: linear-gradient(to left bottom, #2c2c2e91, #2c2c2e94);
    border-radius: 1.2rem;
    backdrop-filter: blur(2rem);
    color: white;

    background-color: rgba(255, 255, 255, 0.459);
  }
  [data-tab-content] {
    display: none;
  }
  .active[data-tab-content] {
    display: flex;
    flex-direction: column;
  }
  .inner {
    align-items: center;
    &-top {
      width: 100%;
      padding: 1.5rem 2rem;
      flex: 0 1 10vh;
      border-bottom: 1px solid;
      /*text in the tab middile part the h1 the h3 */
      h1 {
        font-size: 3vh;
        font-weight: 600;
        padding-bottom: 1vh;
      }
      h3 {
        font-size: 2vh;
        font-weight: 400;
        padding-bottom: 1vh;
      }
    }
    &-bottom {
      flex: 0 1 40vh;
      padding: 0rem 2rem;
      margin-top: 1.5vh;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        li {
          background: #1c1c1e;
          width: 78vw;
          flex: none;
          margin-top: 1.5vh;
          margin-bottom: 1vh;
          height: 25vh;
          padding: 1.2rem 1rem;
          border-radius: 1rem;
          list-style: none;
          cursor: pointer;

          h4 {
            font-size: 1.8vh;
          }
          h5 {
            width: 90%;
            font-size: 1.5vh;
            font-weight: 400;
            border-bottom: 1.5px solid #545458;
          }
        }
      }
    }
  }
  /*the boxes inside the panel */
  .to {
    display: none;
  }
  .t-inside {
    display: flex;
    flex-direction: column;
    height: 100%;
    &-top {
      flex: 0 1 90%;

      h2 {
        font-size: 2.8vh;
        font-weight: 600;
        border-bottom: 1px solid #545458;
      }
      h4 {
        margin-top: 1vh;
        font-size: 2.2vh;
        font-weight: 500;
      }
    }
    &-bottom {
      flex: 0 1 10%;

      h5 {
        width: 90%;
        font-size: 1.8vh;
        font-weight: 400;
        border-bottom: 1.5px solid #545458;
      }
    }
  }
  .t.active {
    background: linear-gradient(to right bottom, #fafafa91, #71a5edfb);
    box-shadow: -2px -2px 7px -3px rgba(0, 0, 0, 0.33);
    border: none;
    color: #040405;
  }
  .t:hover {
    background: linear-gradient(to right top, #fafafa91, #71a5edfb);
    color: #040405;
  }
  /*this is for the inner tabs put this somewhere else */
  /*the final right side of the panel */
  [data-t-content] {
    display: none;
  }
  .active[data-t-content] {
    display: flex;
    flex-direction: column;
    background-color: #1c1c1e;
  }

  .right-panel {
    &-inner {
      background: none;
      border-top-right-radius: none;
      padding: 1rem;
      h2 {
        text-align: left;
        font-size: 2.5vh;
        font-weight: 600;
        padding-bottom: 1vh;
        border-bottom: 1px solid #545458;
        margin-bottom: 1vh;
      }
      h3 {
        font-size: 2.4vh;
        font-weight: 500;
      }
    }
  }
  .right-panel-1 {
    flex: 0 1 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 1rem;

    &-box1 {
      flex: 0 1 20vw;
      margin-right: 0.5vw;
      height: 12vh;
      background: #2c2c2e;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      &-top {
        flex: 0 1 8vh;
        display: grid;
        place-content: center;
        img {
          height: 3rem;
        }
      }
      &-bottom {
        flex: 0 1 4vh;
        border-radius: 0rem;
        h4 {
          text-align: center;
          font-size: 2vh;
          font-weight: 300;
        }
      }
    }
  }
  .right-button-1 {
    flex: 0 1 5vh;
    background-color: rgb(151, 19, 19);
    width: 90%;
    margin: 2vh auto 0vh;
    a {
      display: grid;
      place-content: center;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      text-decoration: none;
      text-align: center;
      padding: 1.5vh 2vh;
    }
  }
  .right-button-2 {
    flex: 0 1 5vh;
    background-color: rgb(151, 19, 19);
    width: 90%;
    margin: 1vh auto 5vh;
    a {
      display: grid;
      place-content: center;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      text-decoration: none;
      text-align: center;
      padding: 1.5vh 2vh;
    }
  }
  .description {
    background: #2c2c2e;
    flex: 0 1 65vh;
    color: #ffffff;
    border-radius: 1.5rem;
    margin-bottom: 1vh;
    &-inner {
      padding: 1.5rem;
      h2 {
        margin-bottom: 2vh;
        text-align: center;
        font-size: 2.5vh;
        font-weight: 600;
        padding-bottom: 1vh;
        border-bottom: 1px solid #545458;
      }
      h3 {
        font-size: 2.4vh;
        font-weight: 500;
      }
      h4 {
        margin-top: 1vh;
        font-size: 2vh;
        font-weight: 600;
      }
    }
  }
  .date {
    flex: 0 1 18vh;
    background: linear-gradient(to right bottom, #fafafa91, #71a5edfb);
    border-radius: 0.5rem;
  }
  /*last section*/
  .last {
    &-in {
      height: 60vh;
      display: block;
    }
  }
}

/*iphone 5s responsive */
@include media("<=phone") {
  .land {
    display: block;
    width: 90%;
    margin: 10vh auto 0vh auto;
  }
}
